# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TtsApi.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Karl\RiderProjects\TtsApi\.idea\.idea.TtsApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
